<div class="container">
  <div *ngIf="Logeado" style="text-align:center">


    <h1>
      Welcome to {{_email}}!
    </h1>
    <button type="button" (click)='logout()' class="btn btn-primary">Salir</button>

  </div>
<table class="table">

<thead>
  <tr>
    <div class="row">
      <div class="col-2">
        <th scope="col">Edificio</th>
      </div>
      <div class="col-2">
        <th scope="col">Salon</th>
      </div>
      <div class="col-2">
        <th scope="col">Dia</th>
      </div>
      <div class="col-2">
        <th scope="col">Hora</th>
      </div>
      <div class="col-2">
        <th scope="col">Clases</th>
      </div>


    </div>

  </tr>
</thead>
<tbody > <!--asi se concatenaria un for -->

    <div class="row ">
      <div class="col-2">
        <tr *ngFor="let edici of edificios;">
          <button  (click)="obtenersalonesEdificio( edici.key )" type="button" class="btn btn-secondary">{{edici.key}}</button>
        </tr>
      </div>
      <div class="col-2">
        <tr *ngFor="let item of aulas">

            <button  (click)="obtenerDias( item.key )" type="button" class="btn btn-secondary">{{item.key}}</button>
        </tr>
      </div>
      <div class="col-2">
        <tr *ngFor="let item of dias">

            <button  (click)="obtenerHoras( item.key )" type="button" class="btn btn-secondary">{{item.key}}</button>
        </tr>
      </div>
      <div class="col-2">
        <tr *ngFor="let item of horas">

            <button  (click)="obtenerClases( item.key )" type="button" class="btn btn-secondary">{{item.key}}</button>
        </tr>
      </div>
      <div class="col-1">
        <tr >

            <button  (click)="obtenerClases( item.key )" type="button" class="btn btn-secondary">
                <h4 [(ngModel)]="hora" ngDefaultControl>Hora: {{hora}}</h4>
                <h4 [(ngModel)]="clases" ngDefaultControl>Materia: {{clases[0]}}</h4>
                <h4 [(ngModel)]="clases" ngDefaultControl>Profesor: {{clases[1]}}</h4>
                <h4 [(ngModel)]="clases" ngDefaultControl>Descripcion: {{clases[2]}}</h4>
              </button>
              <button  (click)="editarClase()" type="button"  class="btn btn-secondary">
                  Editar
                </button>
        </tr>
      </div>

    </div>
</tbody>
</table>
</div>
